@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

$cor_con: #0acc9e;

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
    border: none;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Jost', sans-serif;

    ::-webkit-scrollbar{
        width: 0px;
    }

    body{
        img{
            max-width: 100%;
        }
    }
}

.website{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    //background-image: radial-gradient(circle, #1b1b1b 0%, #111 90%);

    header{
        width: 100%;
        padding: 1% 8%;
        background-color: #4f4f4f;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left_side{
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a{
                color: #fff;
                font-weight: 700;
                font-size: 1.4em;
                //margin-right: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img{
                    width: 60%;
                }
            }

            ul{
                margin-left: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .actived{
                    background-color: $cor_con;
                }

                li a{
                    display: block;
                    font-size: 1em;
                    margin-right: 0px;
                    font-weight: 300;
                    padding: 0px 20px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all linear .2s;

                    &:hover{
                        background-color: #09b88f;
                    }
                }
            }
        }

        .right_side{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p{
                color: #fff;
                font-weight: bold;
            }

            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 40px;

                li a{
                    width: 45px;
                    height: 45px;
                    margin-left: 20px;
                    display: block;
                    background-color: $cor_con;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    padding: 0px;
                }
            }

            form{
                display: flex;
                justify-content: center;
                align-items: center;

                input[type=text]{
                    border-radius: 5px 0px 0px 5px;
                    color: #fff;
                }

                ::-webkit-input-placeholder{
                    color: #fff;
                }

                input[type=text], button{
                    padding: 12px 15px;
                    background-color: #333;
                }

                button{
                    color: #fff;
                    border-radius: 0px 5px 5px 0px;
                }
            }

            a{
                padding: 13px;
                border-radius: 5px;
                background-color: $cor_con;
                color: #fff;
            }
        }
    }

    .fique{
        background-color: $cor_con;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5%;

        p{
            color: #fff;
            font-size: 1.3em;

            i{
                margin-left: 10px;
            }
        }
    }

    .help_banner{
        width: 100%;
        min-height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color: #333;
            font-weight: 400;
            margin-bottom: 20px;
            font-size: 2.4em;
        }

        p{
            color: #666;
            width: 50%;
            text-align: center;
        }

        form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .search_box{
                width: 55%;
                background-color: #333;
                border-radius: 5px;
                padding: 15px 20px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                i{
                    color: #fff;
                }

                input[type=text]{
                    background-color: transparent;
                    width: 100%;
                    color: #fff;
                    font-size: 1em;

                    &::placeholder{
                        color: #fff;
                    }
                }
            }
        }
    }

    article{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 8%;

        .card_link{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;

            a{
                background-color: #ccc;
                min-height: 20vh;
                border-radius: 5px;
                padding: 20px;
                color: #fff;
                transition: all linear .2s;

                span{
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    background-color: $cor_con;
                    font-size: 1.4em;
                    color: #fff;
                }

                h2{
                    margin-top: 25px;
                    font-size: 1.2em;
                    font-weight: 400;
                    color: #111;
                }

                p{
                    font-size: 1em;
                    font-weight: 300;
                    margin-top: 10px;
                    color: #222;
                }

                &:hover{
                    transform: scale(1.1);
                    box-shadow: 10px 10px 40px 1px #999;
                }
            }
        }
    }
}

.modal_website{
    position: fixed;
    width: 100vw;
    background-color: #fff;
    top: 88px;
    //left: 0vh;
    left: 220vh;
    transition: all linear .2s;
    //padding: 0% 8%;

    .scroll{
        height: 100vh;
        padding-bottom: 3.5%;
        overflow: scroll;

        .cabecalho{
            width: 100%;
            background: linear-gradient(45deg, $cor_con, #05a37e);
            padding: 2% 12%;

            span{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                margin-bottom: 10px;

                p{
                    i{
                        margin-right: 10px;
                    }
                }

                a{
                    color: #fff;
                    letter-spacing: 2px;

                    i{
                        margin-right: 10px;
                    }
                }
            }

            h1{
                font-weight: bold;
                color: #fff;
            }
        }

        .article{
            width: 100%;
            padding: 2.5% 12%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;

            .text{
                width: 65%;
                //padding: 2.5% 12%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                h1:first-child{
                    margin-top: 0px;
                }

                h1{
                    width: 100%;
                    margin-bottom: 20px;
                    border-left: solid 3px #05a37e;
                    padding-left: 20px;
                    margin-top: 80px;
                    font-weight: bold;
                    color: #333;
                }

                h2{
                    color: #444;
                    margin-bottom: 10px;
                    width: 100%;
                    padding-left: 10px;
                    border-left: solid 4px #999;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                h3{
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 15px;
                }
    
                img{
                    margin-bottom: 25px;
                }
    
                p{
                    text-align: justify;
                    margin-bottom: 15px;

                    strong{
                        font-weight: bold;
                        color: #444;
                    }
                }

                small{
                    font-weight: bold;
                    margin-bottom: 20px;
                }
    
                table{
                    width: 50%;
                    border-collapse: collapse;
                    margin-bottom: 10px;
    
                    tr{
                        th{
                            background-color: #999;
                        }
    
                        td{
                            background-color: #ccc;
                            border-bottom: solid 1px #fff;
                        }
    
                        td, th{
                            padding: 6px;
                            text-align: center;
                            border: solid 1px #fff;
                        }
                    }
                }

                .iframe{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }

            .aside{
                width: 33%;
                padding: 20px;
                background-color: #ebebeb;
                border-radius: 5px;

                h1{
                    width: 100%;
                    border-left: solid 3px #09b88f;
                    padding-left: 10px;
                    color: #333;
                }

                ul{
                    width: 100%;
                    margin-top: 25px;
                    border-top: solid 1px #ccc;

                    li{
                        width: 100%;
                        margin-top: 10px;

                        a{
                            width: 100%;
                            display: block;
                            border-bottom: solid 1px #ccc;
                            color: #444;
                            border-bottom: solid 1px #ccc;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            .outlink{
                width: 60px;
                height: 60px;
                background-color: #09b88f;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                margin-left: 1100px;
                margin-top: 300px;
            
                &:hover{
                    background-color: #067057;
                }
            }
        }

        .local{
            width: 100%;
            padding: 2.5% 12%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            .line{
                width: 100%;
                margin-bottom: 30px;
                padding-bottom: 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-bottom: solid 1px #ccc;

                .infos{
                    width: 36%;

                    p{
                        margin-bottom: 10px;
                    }
                }

                iframe{
                    width: 600px;
                    height: 180px;
                }
            }
        }

        article{
            margin-top: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .videoaula{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 30px;
                border-bottom: solid 1px #ccc;
                padding-bottom: 50px;
                padding-top: 20px;
                
                .header{
                    width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h1{
                            background-color: $cor_con;
                            margin-right: 10px;
                            display: block;
                            color: #333;
                            font-size: 1.1em;
                            font-weight: bold;
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
        
                            p{
                                z-index: 2;
                                font-weight: bold;
                            }
        
                            &:before{
                                content: '';
                                width: 23px;
                                position: absolute;
                                height: 23px;
                                background-color: $cor_con;
                                margin-top: 13.8px;
                                margin-left: 13.5px;
                                z-index: 1;
                                border-radius: 3px;
                            }
                        }
                    }

                    h2{
                        color: #333;
                        font-weight: bold;
                    }
                }

                .video{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .info{
                        margin-left: 20px;

                        .header_info{
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 20px;

                            p{
                                margin-right: 20px;
                                font-weight: 600;

                                i{
                                    margin-right: 5px;
                                    color: $cor_con;
                                }
                            }

                            a{
                                background-color: $cor_con;
                                //width: 30px;
                                //height: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 5px 20px;
                                align-items: center;
                                color: #272700;
                                border-radius: 50px;

                                i{
                                    margin-right: 10px; 
                                }
                            }

                            .question{
                                width: 30px;
                                margin-right: 15px;
                                height: 30px;
                                padding: 0px; 
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                i{
                                    margin-right: 0px;
                                }
                            }
                        }

                        p{
                            font-weight: 300;
                            color: #555;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

.out{
    left: 0vh;
}
